{
  "info": {
    "title": "Anima API",
    "version": "0.1.0",
    "description": "The Anima API provides programmatic access to unified infrastructure for AI agents: create and manage agents; send and receive email; place phone calls and send/receive SMS and voice; store and retrieve vault credentials; manage agent identity; and configure webhooks for real-time events. Authenticate using a Bearer token or an API key passed via the X-API-Key header.",
    "contact": {
      "name": "Anima Labs",
      "url": "https://useanima.sh",
      "email": "support@useanima.sh"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.useanima.sh/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/addresses": {
      "post": {
        "operationId": "address.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^[0-9a-z]+$"
                      },
                      {
                        "type": "string",
                        "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                      }
                    ],
                    "description": "Agent identifier that owns this address"
                  },
                  "type": {
                    "enum": [
                      "BILLING",
                      "SHIPPING",
                      "MAILING",
                      "REGISTERED"
                    ],
                    "type": "string",
                    "description": "Type of address to create"
                  },
                  "label": {
                    "type": "string",
                    "description": "User-defined label for the address"
                  },
                  "street1": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Primary street address line"
                  },
                  "street2": {
                    "type": "string",
                    "description": "Secondary street address line (apt, suite, etc.)"
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1,
                    "description": "City name"
                  },
                  "state": {
                    "type": "string",
                    "minLength": 1,
                    "description": "State or province"
                  },
                  "postalCode": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Postal or ZIP code"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2,
                    "pattern": "^[A-Z]{2}$",
                    "description": "2-character ISO 3166-1 alpha-2 country code"
                  }
                },
                "required": [
                  "agentId",
                  "type",
                  "street1",
                  "city",
                  "state",
                  "postalCode",
                  "country"
                ],
                "description": "Input for creating a new address identity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique address identity identifier"
                    },
                    "agentId": {
                      "type": "string",
                      "description": "Agent that owns this address"
                    },
                    "orgId": {
                      "type": "string",
                      "description": "Organization the address belongs to"
                    },
                    "type": {
                      "enum": [
                        "BILLING",
                        "SHIPPING",
                        "MAILING",
                        "REGISTERED"
                      ],
                      "type": "string",
                      "description": "Address type"
                    },
                    "label": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "User-defined label"
                    },
                    "street1": {
                      "type": "string",
                      "description": "Primary street address line"
                    },
                    "street2": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Secondary street address line"
                    },
                    "city": {
                      "type": "string",
                      "description": "City name"
                    },
                    "state": {
                      "type": "string",
                      "description": "State or province"
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "Postal or ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "2-character ISO country code"
                    },
                    "validated": {
                      "type": "boolean",
                      "description": "Whether the address has been validated"
                    },
                    "validatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Timestamp when the address was validated"
                    },
                    "provider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Validation provider name"
                    },
                    "metadata": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Additional metadata"
                    },
                    "isPrimary": {
                      "type": "boolean",
                      "description": "Whether this is the primary address for its type"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the address was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the address was last updated"
                    }
                  },
                  "required": [
                    "id",
                    "agentId",
                    "orgId",
                    "type",
                    "label",
                    "street1",
                    "street2",
                    "city",
                    "state",
                    "postalCode",
                    "country",
                    "validated",
                    "validatedAt",
                    "provider",
                    "metadata",
                    "isPrimary",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Full address identity record"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "address.list",
        "parameters": [
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^[0-9a-z]+$"
                },
                {
                  "type": "string",
                  "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                }
              ],
              "description": "Agent identifier to list addresses for"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "BILLING",
                "SHIPPING",
                "MAILING",
                "REGISTERED"
              ],
              "type": "string",
              "description": "Filter addresses by type"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique address identity identifier"
                      },
                      "agentId": {
                        "type": "string",
                        "description": "Agent that owns this address"
                      },
                      "orgId": {
                        "type": "string",
                        "description": "Organization the address belongs to"
                      },
                      "type": {
                        "enum": [
                          "BILLING",
                          "SHIPPING",
                          "MAILING",
                          "REGISTERED"
                        ],
                        "type": "string",
                        "description": "Address type"
                      },
                      "label": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "User-defined label"
                      },
                      "street1": {
                        "type": "string",
                        "description": "Primary street address line"
                      },
                      "street2": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Secondary street address line"
                      },
                      "city": {
                        "type": "string",
                        "description": "City name"
                      },
                      "state": {
                        "type": "string",
                        "description": "State or province"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal or ZIP code"
                      },
                      "country": {
                        "type": "string",
                        "description": "2-character ISO country code"
                      },
                      "validated": {
                        "type": "boolean",
                        "description": "Whether the address has been validated"
                      },
                      "validatedAt": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date-time"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Timestamp when the address was validated"
                      },
                      "provider": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Validation provider name"
                      },
                      "metadata": {
                        "anyOf": [
                          {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Additional metadata"
                      },
                      "isPrimary": {
                        "type": "boolean",
                        "description": "Whether this is the primary address for its type"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the address was created"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the address was last updated"
                      }
                    },
                    "required": [
                      "id",
                      "agentId",
                      "orgId",
                      "type",
                      "label",
                      "street1",
                      "street2",
                      "city",
                      "state",
                      "postalCode",
                      "country",
                      "validated",
                      "validatedAt",
                      "provider",
                      "metadata",
                      "isPrimary",
                      "createdAt",
                      "updatedAt"
                    ],
                    "description": "Full address identity record"
                  },
                  "description": "List of address identities"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{id}": {
      "get": {
        "operationId": "address.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address identity identifier"
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^[0-9a-z]+$"
                },
                {
                  "type": "string",
                  "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                }
              ],
              "description": "Agent identifier that owns this address"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique address identity identifier"
                    },
                    "agentId": {
                      "type": "string",
                      "description": "Agent that owns this address"
                    },
                    "orgId": {
                      "type": "string",
                      "description": "Organization the address belongs to"
                    },
                    "type": {
                      "enum": [
                        "BILLING",
                        "SHIPPING",
                        "MAILING",
                        "REGISTERED"
                      ],
                      "type": "string",
                      "description": "Address type"
                    },
                    "label": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "User-defined label"
                    },
                    "street1": {
                      "type": "string",
                      "description": "Primary street address line"
                    },
                    "street2": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Secondary street address line"
                    },
                    "city": {
                      "type": "string",
                      "description": "City name"
                    },
                    "state": {
                      "type": "string",
                      "description": "State or province"
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "Postal or ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "2-character ISO country code"
                    },
                    "validated": {
                      "type": "boolean",
                      "description": "Whether the address has been validated"
                    },
                    "validatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Timestamp when the address was validated"
                    },
                    "provider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Validation provider name"
                    },
                    "metadata": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Additional metadata"
                    },
                    "isPrimary": {
                      "type": "boolean",
                      "description": "Whether this is the primary address for its type"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the address was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the address was last updated"
                    }
                  },
                  "required": [
                    "id",
                    "agentId",
                    "orgId",
                    "type",
                    "label",
                    "street1",
                    "street2",
                    "city",
                    "state",
                    "postalCode",
                    "country",
                    "validated",
                    "validatedAt",
                    "provider",
                    "metadata",
                    "isPrimary",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Full address identity record"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "address.update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address identity identifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^[0-9a-z]+$"
                      },
                      {
                        "type": "string",
                        "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                      }
                    ],
                    "description": "Agent identifier that owns this address"
                  },
                  "type": {
                    "enum": [
                      "BILLING",
                      "SHIPPING",
                      "MAILING",
                      "REGISTERED"
                    ],
                    "type": "string",
                    "description": "Updated address type"
                  },
                  "label": {
                    "type": "string",
                    "description": "Updated label"
                  },
                  "street1": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Updated primary street address line"
                  },
                  "street2": {
                    "type": "string",
                    "description": "Updated secondary street address line"
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Updated city name"
                  },
                  "state": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Updated state or province"
                  },
                  "postalCode": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Updated postal or ZIP code"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2,
                    "pattern": "^[A-Z]{2}$",
                    "description": "Updated 2-character ISO 3166-1 alpha-2 country code"
                  },
                  "isPrimary": {
                    "type": "boolean",
                    "description": "Set as primary address for this type"
                  }
                },
                "required": [
                  "agentId"
                ],
                "description": "Input for updating an existing address identity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique address identity identifier"
                    },
                    "agentId": {
                      "type": "string",
                      "description": "Agent that owns this address"
                    },
                    "orgId": {
                      "type": "string",
                      "description": "Organization the address belongs to"
                    },
                    "type": {
                      "enum": [
                        "BILLING",
                        "SHIPPING",
                        "MAILING",
                        "REGISTERED"
                      ],
                      "type": "string",
                      "description": "Address type"
                    },
                    "label": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "User-defined label"
                    },
                    "street1": {
                      "type": "string",
                      "description": "Primary street address line"
                    },
                    "street2": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Secondary street address line"
                    },
                    "city": {
                      "type": "string",
                      "description": "City name"
                    },
                    "state": {
                      "type": "string",
                      "description": "State or province"
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "Postal or ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "2-character ISO country code"
                    },
                    "validated": {
                      "type": "boolean",
                      "description": "Whether the address has been validated"
                    },
                    "validatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Timestamp when the address was validated"
                    },
                    "provider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Validation provider name"
                    },
                    "metadata": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Additional metadata"
                    },
                    "isPrimary": {
                      "type": "boolean",
                      "description": "Whether this is the primary address for its type"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the address was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the address was last updated"
                    }
                  },
                  "required": [
                    "id",
                    "agentId",
                    "orgId",
                    "type",
                    "label",
                    "street1",
                    "street2",
                    "city",
                    "state",
                    "postalCode",
                    "country",
                    "validated",
                    "validatedAt",
                    "provider",
                    "metadata",
                    "isPrimary",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Full address identity record"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "address.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address identity identifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^[0-9a-z]+$"
                      },
                      {
                        "type": "string",
                        "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                      }
                    ],
                    "description": "Agent identifier that owns this address"
                  }
                },
                "required": [
                  "agentId"
                ],
                "description": "Input for identifying a specific address identity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true,
                      "description": "Always true on successful deletion"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{id}/validate": {
      "post": {
        "operationId": "address.validate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address identity identifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^[0-9a-z]+$"
                      },
                      {
                        "type": "string",
                        "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                      }
                    ],
                    "description": "Agent identifier that owns this address"
                  }
                },
                "required": [
                  "agentId"
                ],
                "description": "Input for identifying a specific address identity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "description": "Whether the address is considered valid"
                    },
                    "standardized": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "BILLING",
                            "SHIPPING",
                            "MAILING",
                            "REGISTERED"
                          ],
                          "type": "string",
                          "description": "Address type"
                        },
                        "label": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "User-defined label"
                        },
                        "street1": {
                          "type": "string",
                          "description": "Primary street address line"
                        },
                        "street2": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Secondary street address line"
                        },
                        "city": {
                          "type": "string",
                          "description": "City name"
                        },
                        "state": {
                          "type": "string",
                          "description": "State or province"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "Postal or ZIP code"
                        },
                        "country": {
                          "type": "string",
                          "description": "2-character ISO country code"
                        }
                      },
                      "required": [
                        "type",
                        "label",
                        "street1",
                        "street2",
                        "city",
                        "state",
                        "postalCode",
                        "country"
                      ],
                      "description": "Standardized version of the address"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1,
                      "description": "Confidence score between 0 and 1"
                    },
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "street1": {
                            "type": "string",
                            "description": "Suggested street address"
                          },
                          "street2": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Suggested secondary address"
                          },
                          "city": {
                            "type": "string",
                            "description": "Suggested city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Suggested state"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "Suggested postal code"
                          },
                          "country": {
                            "type": "string",
                            "description": "Suggested country code"
                          }
                        },
                        "required": [
                          "street1",
                          "street2",
                          "city",
                          "state",
                          "postalCode",
                          "country"
                        ]
                      },
                      "description": "Alternative address suggestions"
                    }
                  },
                  "required": [
                    "valid",
                    "standardized",
                    "confidence",
                    "suggestions"
                  ],
                  "description": "Address validation result with standardized address and suggestions"
                }
              }
            }
          }
        }
      }
    },
    "/orgs": {
      "post": {
        "operationId": "org.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120,
                    "description": "Display name of the organization"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9-]+$",
                    "description": "URL-friendly identifier using lowercase letters, digits, and hyphens"
                  },
                  "clerkOrgId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "External Clerk organization ID for SSO linkage"
                  },
                  "tier": {
                    "default": "FREE",
                    "enum": [
                      "FREE",
                      "STARTER",
                      "GROWTH",
                      "SCALE",
                      "ENTERPRISE"
                    ],
                    "type": "string",
                    "description": "Subscription tier for the organization"
                  },
                  "settings": {
                    "default": {},
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Arbitrary key-value settings for the organization"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ],
                "description": "Request body for creating a new organization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                      "description": "Unique identifier for the organization"
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name of the organization"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly identifier for the organization"
                    },
                    "clerkOrgId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "External Clerk organization ID, null if not linked"
                    },
                    "tier": {
                      "enum": [
                        "FREE",
                        "STARTER",
                        "GROWTH",
                        "SCALE",
                        "ENTERPRISE"
                      ],
                      "type": "string",
                      "description": "Current subscription tier"
                    },
                    "keyRotatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO 8601 timestamp of the last master-key rotation, null if never rotated"
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Arbitrary key-value settings for the organization"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was last modified"
                    },
                    "masterKey": {
                      "type": "string",
                      "description": "Master API key for the organization. Returned ONCE on creation — store it securely."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "clerkOrgId",
                    "tier",
                    "keyRotatedAt",
                    "settings",
                    "createdAt",
                    "updatedAt",
                    "masterKey"
                  ],
                  "description": "Newly-minted organization with one-time master key disclosure"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "org.list",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Opaque cursor from a previous response to fetch the next page"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum number of items to return per page (1–100, default 20)"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120,
              "description": "Search query to filter organizations by name or slug"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                            "description": "Unique identifier for the organization"
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the organization"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-friendly identifier for the organization"
                          },
                          "clerkOrgId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "External Clerk organization ID, null if not linked"
                          },
                          "tier": {
                            "enum": [
                              "FREE",
                              "STARTER",
                              "GROWTH",
                              "SCALE",
                              "ENTERPRISE"
                            ],
                            "type": "string",
                            "description": "Current subscription tier"
                          },
                          "keyRotatedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "ISO 8601 timestamp of the last master-key rotation, null if never rotated"
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": {},
                            "description": "Arbitrary key-value settings for the organization"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the organization was created"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp when the organization was last modified"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "slug",
                          "clerkOrgId",
                          "tier",
                          "keyRotatedAt",
                          "settings",
                          "createdAt",
                          "updatedAt"
                        ],
                        "description": "Organization resource with full details (no secrets)"
                      },
                      "description": "Array of organization resources in the current page"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextCursor": {
                          "anyOf": [
                            {
                              "type": "string",
                              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Cursor to pass as the `cursor` parameter to retrieve the next page, or null if no more results"
                        },
                        "hasMore": {
                          "type": "boolean",
                          "description": "Whether additional pages of results are available"
                        }
                      },
                      "required": [
                        "nextCursor",
                        "hasMore"
                      ],
                      "description": "Cursor-based pagination metadata"
                    }
                  },
                  "required": [
                    "items",
                    "pagination"
                  ],
                  "description": "Paginated list of organizations"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/me": {
      "get": {
        "operationId": "org.me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                      "description": "Unique identifier for the organization"
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name of the organization"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly identifier for the organization"
                    },
                    "clerkOrgId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "External Clerk organization ID, null if not linked"
                    },
                    "tier": {
                      "enum": [
                        "FREE",
                        "STARTER",
                        "GROWTH",
                        "SCALE",
                        "ENTERPRISE"
                      ],
                      "type": "string",
                      "description": "Current subscription tier"
                    },
                    "keyRotatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO 8601 timestamp of the last master-key rotation, null if never rotated"
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Arbitrary key-value settings for the organization"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was last modified"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "clerkOrgId",
                    "tier",
                    "keyRotatedAt",
                    "settings",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Organization resource with full details (no secrets)"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{id}": {
      "get": {
        "operationId": "org.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Unique organization identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                      "description": "Unique identifier for the organization"
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name of the organization"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly identifier for the organization"
                    },
                    "clerkOrgId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "External Clerk organization ID, null if not linked"
                    },
                    "tier": {
                      "enum": [
                        "FREE",
                        "STARTER",
                        "GROWTH",
                        "SCALE",
                        "ENTERPRISE"
                      ],
                      "type": "string",
                      "description": "Current subscription tier"
                    },
                    "keyRotatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO 8601 timestamp of the last master-key rotation, null if never rotated"
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Arbitrary key-value settings for the organization"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was last modified"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "clerkOrgId",
                    "tier",
                    "keyRotatedAt",
                    "settings",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Organization resource with full details (no secrets)"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "org.update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Unique identifier of the organization to update"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120,
                    "description": "Updated display name"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Updated URL-friendly identifier"
                  },
                  "clerkOrgId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Updated external Clerk organization ID"
                  },
                  "tier": {
                    "enum": [
                      "FREE",
                      "STARTER",
                      "GROWTH",
                      "SCALE",
                      "ENTERPRISE"
                    ],
                    "type": "string",
                    "description": "Updated subscription tier"
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Updated key-value settings"
                  }
                },
                "required": [],
                "description": "Request body for updating an existing organization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                      "description": "Unique identifier for the organization"
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name of the organization"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly identifier for the organization"
                    },
                    "clerkOrgId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "External Clerk organization ID, null if not linked"
                    },
                    "tier": {
                      "enum": [
                        "FREE",
                        "STARTER",
                        "GROWTH",
                        "SCALE",
                        "ENTERPRISE"
                      ],
                      "type": "string",
                      "description": "Current subscription tier"
                    },
                    "keyRotatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO 8601 timestamp of the last master-key rotation, null if never rotated"
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Arbitrary key-value settings for the organization"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp when the organization was last modified"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "clerkOrgId",
                    "tier",
                    "keyRotatedAt",
                    "settings",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Organization resource with full details (no secrets)"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "org.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Unique organization identifier"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "description": "Organization deletion parameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true,
                      "description": "Always true on successful deletion"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "description": "Deletion confirmation"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{id}/rotate-key": {
      "post": {
        "operationId": "org.rotateKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Unique organization identifier"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "description": "Master key rotation parameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "masterKey": {
                      "type": "string",
                      "description": "Newly generated master API key"
                    }
                  },
                  "required": [
                    "masterKey"
                  ],
                  "description": "Rotated master key credentials"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{id}/members": {
      "get": {
        "operationId": "org.listMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Unique organization identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                            "description": "Organization membership identifier"
                          },
                          "userId": {
                            "type": "string",
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                            "description": "Internal user identifier"
                          },
                          "role": {
                            "enum": [
                              "OWNER",
                              "ADMIN",
                              "MEMBER"
                            ],
                            "type": "string",
                            "description": "Membership role"
                          },
                          "email": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Member email address"
                          },
                          "firstName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Member given name"
                          },
                          "lastName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Member family name"
                          },
                          "imageUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Profile image URL"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the membership was created"
                          }
                        },
                        "required": [
                          "id",
                          "userId",
                          "role",
                          "email",
                          "firstName",
                          "lastName",
                          "imageUrl",
                          "createdAt"
                        ],
                        "description": "Organization member with profile fields"
                      },
                      "description": "Members of the organization"
                    }
                  },
                  "required": [
                    "items"
                  ],
                  "description": "Organization membership list response"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/feature-interest": {
      "post": {
        "operationId": "org.recordFeatureInterest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "feature": {
                    "enum": [
                      "vault"
                    ],
                    "type": "string",
                    "description": "Feature the user attempted to access"
                  },
                  "source": {
                    "default": "sidebar",
                    "enum": [
                      "sidebar",
                      "page"
                    ],
                    "type": "string",
                    "description": "Where the interest intent came from"
                  }
                },
                "required": [
                  "feature"
                ],
                "description": "Feature-interest tracking payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Usage event identifier"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when feature interest was recorded"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt"
                  ],
                  "description": "Feature-interest tracking result"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/me/workspace-health": {
      "get": {
        "operationId": "org.workspaceHealth",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "enum": [
                        "ok",
                        "degraded"
                      ],
                      "type": "string",
                      "description": "Overall workspace status. degraded if any blocker is present."
                    },
                    "org": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        },
                        "name": {
                          "type": "string"
                        },
                        "tier": {
                          "type": "string",
                          "description": "Current billing tier (FREE / GROWTH / SCALE / ...)"
                        },
                        "signupStatus": {
                          "type": "string",
                          "description": "active / pending_review / suspended"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "tier",
                        "signupStatus"
                      ],
                      "description": "Organization context"
                    },
                    "auth": {
                      "type": "object",
                      "properties": {
                        "keyType": {
                          "enum": [
                            "master",
                            "agent"
                          ],
                          "type": "string",
                          "description": "Whether the calling credential is master-tier or agent-tier"
                        },
                        "authMethod": {
                          "enum": [
                            "api_key",
                            "clerk",
                            "scoped_token"
                          ],
                          "type": "string",
                          "description": "How the credential was authenticated"
                        },
                        "agentId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Agent ID if the credential is agent-bound, null for master"
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Granted scopes for OAuth / scoped tokens"
                        }
                      },
                      "required": [
                        "keyType",
                        "authMethod",
                        "agentId"
                      ],
                      "description": "Credential context — same data Who_Am_I would surface"
                    },
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "canSendEmail": {
                          "type": "boolean",
                          "description": "True iff at least one verified email identity exists across the org's agents"
                        },
                        "canSendSms": {
                          "type": "boolean",
                          "description": "True iff at least one phone identity has SMS capability and is past 10DLC"
                        }
                      },
                      "required": [
                        "canSendEmail",
                        "canSendSms"
                      ],
                      "description": "Cross-cutting send capability summary"
                    },
                    "inventory": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "agentsReadyToSend": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "Subset of agents whose primary identity is verified"
                        },
                        "domains": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "domainsVerified": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "phoneNumbers": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "agents",
                        "agentsReadyToSend",
                        "domains",
                        "domainsVerified",
                        "phoneNumbers"
                      ],
                      "description": "Inventory counts useful for self-diagnosis"
                    },
                    "blockers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Stable code (e.g. ORG_SUSPENDED, NO_VERIFIED_DOMAIN)"
                          },
                          "hint": {
                            "type": "string",
                            "description": "Human-readable remediation"
                          }
                        },
                        "required": [
                          "code",
                          "hint"
                        ]
                      },
                      "description": "All currently-blocking conditions; empty array means status:'ok'"
                    }
                  },
                  "required": [
                    "status",
                    "org",
                    "auth",
                    "capabilities",
                    "inventory",
                    "blockers"
                  ],
                  "description": "Per-workspace health summary callable by any authenticated credential"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/me/usage": {
      "get": {
        "operationId": "org.usageOverview",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Billing period in YYYY-MM format (e.g. '2026-05'). Defaults to the current month in UTC."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string",
                      "description": "Billing period the rollup covers (YYYY-MM)."
                    },
                    "updatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Latest update timestamp across all returned counters. null if no usage has been recorded yet."
                    },
                    "totals": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "description": "Counters keyed by usage type (e.g. 'email_sent', 'sms_sent', 'voice_call_minutes'). Missing keys mean zero."
                    }
                  },
                  "required": [
                    "period",
                    "updatedAt",
                    "totals"
                  ],
                  "description": "Usage rollup for an organization's billing period"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "post": {
        "operationId": "agent.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orgId": {
                    "type": "string",
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                    "description": "Organization ID that owns this agent (derived from auth if omitted)"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 100,
                    "description": "Human-readable display name for the agent"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9-]+$",
                    "description": "URL-friendly unique identifier (lowercase alphanumeric and hyphens only)"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional email address to provision for this agent"
                  },
                  "provisionPhone": {
                    "default": false,
                    "type": "boolean",
                    "description": "Whether to automatically provision a phone number for this agent"
                  },
                  "metadata": {
                    "default": {},
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Arbitrary key-value metadata associated with the agent"
                  },
                  "inboxId": {
                    "type": "string",
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                    "description": "ID of an existing inbox to associate with this agent. If omitted, a new inbox is created automatically."
                  }
                },
                "required": [
                  "name",
                  "slug"
                ],
                "description": "Request body for creating a new agent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                      "description": "Unique identifier of the agent"
                    },
                    "orgId": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                      "description": "Organization ID that owns this agent"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable display name"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly unique identifier"
                    },
                    "status": {
                      "enum": [
                        "ACTIVE",
                        "SUSPENDED",
                        "DELETED"
                      ],
                      "type": "string",
                      "description": "Current lifecycle status"
                    },
                    "apiKeyPrefix": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Prefix of the agent's API key for identification, or null if no key is set"
                    },
                    "keyRotatedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO 8601 timestamp of the last API-key rotation, null if never rotated"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Arbitrary key-value metadata"
                    },
                    "emailIdentities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                            "description": "Unique identifier of the email identity"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Full email address"
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain portion of the email address"
                          },
                          "localPart": {
                            "type": "string",
                            "description": "Local part (before the @) of the email address"
                          },
                          "isPrimary": {
                            "type": "boolean",
                            "description": "Whether this is the agent's primary email identity"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "Whether the email address has been verified"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the email identity was created"
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "domain",
                          "localPart",
                          "isPrimary",
                          "verified",
                          "createdAt"
                        ],
                        "description": "Email identity associated with an agent"
                      },
                      "description": "Email identities associated with this agent"
                    },
                    "phoneIdentities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
                            "description": "Unique identifier of the phone identity"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Phone number in E.164 format"
                          },
                          "provider": {
                            "const": "TELNYX",
                            "description": "Telephony provider managing this number"
                          },
                          "providerId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Provider-specific identifier for this phone number"
                          },
                          "capabilities": {
                            "type": "object",
                            "properties": {
                              "sms": {
                                "default": false,
                                "type": "boolean",
                                "description": "Whether the number supports SMS messaging"
                              },
                              "mms": {
                                "default": false,
                                "type": "boolean",
                                "description": "Whether the number supports MMS messaging"
                              },
                              "voice": {
                                "default": false,
                                "type": "boolean",
                                "description": "Whether the number supports voice calls"
                              }
                            },
                            "description": "Communication capabilities supported by this phone number"
                          },
                          "tenDlcStatus": {
                            "enum": [
                              "PENDING",
                              "REGISTERED",
                              "REJECTED",
                              "NOT_REQUIRED"
                            ],
                            "type": "string",
                            "description": "10DLC campaign registration status"
                          },
                          "isPrimary": {
                            "type": "boolean",
                            "description": "Whether this is the agent's primary phone identity"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the phone identity was created"
                          }
                        },
                        "required": [
                          "id",
                          "phoneNumber",
                          "provider",
                          "providerId",
                          "capabilities",
                          "tenDlcStatus",
                          "isPrimary",
                          "createdAt"
                        ],
                        "description": "Phone identity associated with an agent"
                      },
                      "description": "Phone identities associated with this agent"
                    },
                    "readiness": {
                      "type": "object",
                      "properties": {
                        "canSendEmail": {
                          "type": "boolean",
                          "description": "True iff the agent has at least one verified email identity right now"
                        },
                        "canReceiveEmail": {
                          "type": "boolean",
                          "description": "True iff inbound MX is configured for the agent's primary domain"
                        },
                        "canSendSms": {
                          "type": "boolean",
                          "description": "True iff the agent has a provisioned phone identity with SMS capability that's past 10DLC if required"
                        },
                        "canPlaceVoiceCall": {
                          "type": "boolean",
                          "description": "True iff the agent has a phone identity with voice capability"
                        },
                        "blockers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "enum": [
                                  "IDENTITY_NOT_VERIFIED",
                                  "DOMAIN_NOT_VERIFIED",
                                  "PHONE_NOT_PROVISIONED"
                                ],
                                "type": "string",
                                "description": "Stable code matching the typed error thrown at call time"
                              },
                              "field": {
                                "type": "string",
                                "description": "JSON-path-ish location of the failing field, e.g. emailIdentities[0]"
                              },
                              "hint": {
                                "type": "string",
                                "description": "Human-readable remediation hint"
                              },
                              "remediationUrl": {
                                "type": "string",
                                "description": "Optional pointer to where the user can resolve this blocker"
                              }
                            },
                            "required": [
                              "code",
                              "field",
                              "hint"
                            ],
                            "description": "One reason a capability isn't currently usable"
                          },
                          "description": "All current blockers across capabilities; empty array means fully ready"
                        }
                      },
                      "required": [
                        "canSendEmail",
                        "canReceiveEmail",
                        "canSendSms",
                        "canPlaceVoiceCall",
                        "blockers"
                      ],
                      "description": "Per-capability readiness summary. Optional for backward compatibility — clients without readiness handling continue to work; clients that branch on it get the delayed-verification gap closed."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the agent was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the agent was last updated"
                    }
                  },
                  "required": [
                    "id",
                    "orgId",
                    "name",
                    "slug",
                    "status",
                    "apiKeyPrefix",
                    "keyRotatedAt",
                    "metadata",
                    "emailIdentities",
                    "phoneIdentities",
                    "createdAt",
                    "updatedAt"
                  ],
                  "description": "Full agent resource representation"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "agent.list",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Opaque cursor from a previous response to fetch the next page"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum number of items to return per page (1–100, default 20)"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "orgId",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Filter agents by organization ID"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "enum": [
                "ACTIVE",
                "SUSPENDED",
                "DELETED"
              ],
              "type": "string",
              "description": "Filter agents by lifecycle status"
            },
[...]
